.home-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.6));
  z-index: 0;
}





.home-content {
    margin: auto;
    padding-left: 20px;
    margin-top: -60px;
    padding-top: 60px;
}

h1 {
  margin: 0;
  font-size: 4rem;
}

body {
    background-color: #ffffff;
}

