.home-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.6));
  z-index: 0;
}





.home-content {
    margin: auto;
    padding: 90px 2rem 2rem;
    box-sizing: border-box;
   
}


body {
    background-color: #ffffff;
}

