nav {
  display: flex;
  gap: 15px;
  background-color: #19aada;
  padding: 10px;
  height: 60px;
  
  align-items: center;

}

nav a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  transform: transform 0.25s ease-in-out;
  padding: 5px;
}

nav a:hover {
  transform: scale(1.12);
}
