nav {
  display: flex;
  gap: 15px;
  background: linear-gradient(
    rgba(14, 130, 192, 0.9),
    rgba(1, 32, 75, 0.75)
  );
  backdrop-filter: blur(10px); /* stronger blur */
  -webkit-backdrop-filter: blur(10px); /* Safari fallback */
  padding: 0 1.5rem;
  height: 60px;
  align-items: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
  position: sticky; /* stays above background */
  top: 0;
  z-index: 10;
  border-radius: 1px;
}



nav a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  transform: transform 0.25s ease-in-out;
  padding: 5px;
}

nav a:hover {
  transform: scale(1.12);
}
